*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: blue;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: blue;
    transition: .4s;
}
.btn{
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
h2 h3 h4{
    color: white;
}
h2{
    color: rgb(27, 27, 155);
    letter-spacing: 3px;
    font-size: 20px;
}
h3{
    font-size: 75px;
    margin: 20px 0px 20px;
}
h4{
    font-size: 80px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid blue;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: blue;
    color: white;
}
.about{
    width:100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    letter-spacing: 1px;
    color: white;
    text-align: right;
}
.project{
    background:#191919;
    width:100%;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}title h1{
    color: white;
    font-size: 80px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.project img{
    height: auto;
    width: 430px;
    justify-content: left;
    border-radius: 10%;
}
figure{
    border: 1px solid white;
    padding: 3px;
    margin: auto;
}
figcaption{
    background-color: black;
    color: white;
    width: 30px auto;
    text-align: center;
    margin-top: auto;
}
.contact{
    background: #191919;
    color: white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
footer{
    background: #191919;
    color: white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
@media screen and (max-width: 1130px){
main {
    padding: 0 50px
}
}
@media screen and (min-width: 600px) {
 main { 
     padding: 0 50px;
    }  
 body {
     margin: 0 auto;
     padding: 0 50px;
 }   
}
.nav ul{
    position: fixed;
    background: #191919;
    height: 100vh;
    width: 100%;
    left: 0%;
    top: 0%;
    text-align: center;
    padding-top: 80px;
}